<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCompleteMenu-ScintillaNET" version="1.6.2" targetFramework="net48" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net48" />
  <package id="Fody" version="6.1.1" targetFramework="net48" developmentDependency="true" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net48" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net40" />
</packages>